database:
    default:
        dsn: "mysql:host=127.0.0.1;dbname=wikipedia"
        user: root
        password: pass

services:
    database: @database.default
    listOfLinks: App\ListForDownload\ListOfLinks(@database, %storageUrl%)
    databaseImport: App\ImportFiles\DatabaseImport(@database)
    englishVersionModel: App\EnglishVersion\Model(@database, @englishVersionUrlConvertor, @englishVersionPageDownloader)
    englishVersionPageDownloader: App\EnglishVersion\PageDownloader()
    englishVersionUrlConvertor: App\EnglishVersion\UrlConvertor(@englishVersionPageDownloader)
    englishParser: App\EnglishVersion\EnglishParser()

parameters:
    storageUrl: http://dumps.wikimedia.org/
