nette:
    database:
        default:
            dsn: "mysql:host=127.0.0.1;dbname=wikipedia"
            user: root
            password: pass

services:
    database: @nette.database.default
    listOfLinks: App\ListForDownload\ListOfLinks(@database, %storageUrl%)
    databaseImport: DatabaseImport(@database)
    databaseSelect: DatabaseSelect(@database)
    proposalImprove: ProposalImprove(@database)
    ForeignArticle: ForeignArticle(@database)
    englishVersionModel: App\EnglishVersion\Model(@database)
    englishVersionPageDownloader: App\EnglishVersion\PageDownloader()
    englishVersionUrlConvertor: App\EnglishVersion\UrlConvertor(@englishVersionPageDownloader)

parameters:
    storageUrl: http://dumps.wikimedia.org/
